body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#nav-bar {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#nav-bar span {
    padding-right: 5px;
}

#nav-bar #logo {
    flex-basis: 30%;
    font-size: larger;
    font-weight: bolder;
}

#nav-bar #search {
    flex-basis: 50%;
}

.post {
    background-color: #f5f5f5;
    margin-bottom: 30px;
    width: 500px;
    padding-bottom: 5px;
}

.container {
    margin: 75px 200px;
}

.icon {
    border-radius: 50%;
}

.post .user {
    display: inline-block;
}

.post-header {
    padding: 5px;
    padding-bottom: 0px;
}

.post-actions {
    padding: 5px;
}

.post-actions div {
    display: inline-block;
}