{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}

{% for post in posts %}
    <div class="post-author">
        <a href="{% url 'profiles:detail' post.author.username %}">{{ post.author.username }}</a>
    </div>
    <div class="post-image">
        {% thumbnail post.image '500x500' crop='center' as img %}
        <img src="{{ img.url }}" alt="{{ post.author.username }}">
        {% endthumbnail %}
    </div>
    <div class="post-caption">{{ post.caption }}</div>
    <div>
        <a href="{% url 'feed:like' post.id %}" class="js-toggle-heart"><i class='bx bx-heart' ></i></a> - 
        <a href="{% url 'feed:post' post.id %}">COMMENT</a> - 
        <a href="{% url 'feed:share' post.id %}">SHARE</a>
    </div>
{% endfor %}

{% endblock content %}