{% extends 'base.html' %}

{% load thumbnail %}

{% block title %}{{ post.author.username }}'s post{% endblock title %}

{% block content %}

<div class="post-detail">
    <div class="post">
        <div class="post-author">
            <div class="profile-thumbnail">
                {% thumbnail profile.picture '50x50' crop='center' as img %}
                <img src="{{ img.url }}" alt="user.username" width="{{ img.width }}" height="{{ img.height }}">
                {% endthumbnail %}
            </div>
            <div class="username">
                <a href="{% url 'profiles:detail' post.author.username %}"><strong>{{ post.author.username }}</strong></a>
            </div>
        </div>
        <div class="post-image">
            {% thumbnail post.image '500x500' crop='center' as img %}
            <img src="{{ img.url }}" alt="{{ post.author.username }}">
            {% endthumbnail %}
        </div>
        <div class="post-caption">
            <p><strong><a href="{% url 'profiles:detail' post.author.username %}">{{ post.author.username }}</a></strong> {{ post.caption }}</p>
            <p class="post-time">{{ post.date_added|date:'M d, Y' }}</p>
        </div>
        <div class="post-footer">
            <a href="{% url 'feed:like' post.id %}" class="js-toggle-heart"><i class='bx bx-heart' ></i></a>
            <a href="{% url 'feed:share' post.id %}"><i class='bx bx-share' ></i></a>

            <p class="likes-shares">{{ like_count }} <strong>likes</strong>  {{ share_count }} <strong>shares</strong></p>

        </div>
    </div>
    <div class="comments">
        {% for comment in comments %}
        <p>{{ comment.by.user.username }} - {{ comment.text }}</p>
        {% endfor %}

        <hr>

        <form action="{% url 'feed:post' post.id %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}

            <button type="submit" class="btn-submit">Comment</button>
        </form>
    </div>
</div>

{% endblock content %}