{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Feed{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Top navigation -->
    <div class="nav">
        <a href="{% url 'feed:index' %}">JEMA</a> -

        {% if user.is_authenticated %}

        <a href="{% url 'feed:index' %}">HOME</a> -
        <a href="{% url 'feed:explore' %}">EXPLORE</a> - 
        <a href="{% url 'feed:notification' user.username %}">NOTIFICATIONS</a> - 
        <a href="{% url 'direct_messages:inbox' user.username %}">MESSAGES</a> - 
        <a href="{% url 'profiles:my_profile' user.username %}">PROFILE</a> - 
        <a href="{% url 'feed:add_post' %}">ADD POST</a> - 
        <a href="{% url 'profiles:edit_profile' user.username %}">EDIT PROFILE</a> - 
        <a href="{% url 'profiles:logout' %}">LOG OUT</a>

        {% else %}

        <a href="{% url 'profiles:login' %}">LOG IN</a> - 
        <a href="{% url 'profiles:register' %}">REGISTER</a>

        {% endif %}
    </div>
    <!-- End Top navigation -->
    {% block content %}
    {% endblock content %}
</body>
</html>