{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    {% block header %}
    <div id="nav-bar">
        <span id="logo">JEMA</span>
        <span id="search">
            <input type="text" placeholder="search">
        </span>
        <span id="home"><a href="#"><box-icon name='home'></box-icon></a></span>
        <span id="messages"><a href="#"><box-icon name='message-rounded-minus'></box-icon></a></span>
        <span id="add"><a href="#"><box-icon name='message-alt-add' ></box-icon></a></span>
        <span id="explore"><a href="#"><box-icon name='compass' ></box-icon></a></span>
        <span id="notification"><a href="#"><box-icon name='notification' ></box-icon></a></span>
        <span id="profile"><a href="#">Profile</a></span>
    </div>
    {% endblock %}

    {% block body %}
    {% endblock %}
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>