<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Feed{% endblock title %}</title>
</head>
<body>
    <!-- Top navigation -->
    <div class="nav">
        <a href="{% url 'feed:index' %}">JEMA</a> - 
        {% if user.is_authenticated %}
        <input type="text" width="80"> - 
        <a href="#">HOME</a> - 
        <a href="#">EXPLORE</a> - 
        <a href="#">NOTIFICATIONS</a> - 
        <a href="#">MESSAGES</a> - 
        <a href="#">PROFILE</a> - 
        <a href="{% url 'feed:add_post' %}">ADD POST</a> - 
        <a href="{% url 'profiles:logout' %}">LOG OUT</a>
        {% else %}
        <a href="{% url 'profiles:login' %}">LOG IN</a> - 
        {% endif %}
    </div>
    <!-- End Top navigation -->
    {% block content %}
    {% endblock content %}
</body>
</html>