{% extends 'base.html' %}

{% block title %}{{ user.username }}'s inbox{% endblock title %}

{% block content %}

{% for message in messages %}

<div>
    <p>
        {% if message.sender.user == user %}You{% else %}{{ message.sender }}{% endif %}
        to {% if message.reciever.user == user %}you{% else %}{{ message.reciever }}{% endif %}: 
        {{ message.text }}
    </p>
</div>

{% endfor %}

<p><a href="{% url 'direct_messages:send_message' user.username %}">SEND A MESSAGE</a></p>

{% endblock content %}